.container {
  display: flex;
}

.form {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  
}

.form-group {
  margin-bottom: 10px;
}

.label {
  display: block;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #0056b3;
}

.text {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  width: 330px;
  border-left: 10px solid #ED4D47;
  padding-left: 40px;
  padding-right: 95px;
}
