.container {
  display: flex;
  margin-left: 240px;
  position: absolute;
  top: -109px;
  right: 135px;
}

.form {
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 52px 75px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 550px;
  height: 440px;
}

.form-group {
  margin-bottom: 23px;
}

.label {
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 10px;
}

.input {
  width: 400px;
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  margin-top: 6px;
  background: #EE4D47;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 220px;
  height: 60px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
}

.button:hover {
  background-color: #0056b3;
}


