* {
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #FEF8F5;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}


