.header {
  margin-bottom: 16.68px;
}

.container {
  position: relative;
  min-height: 1239px;
  overflow: hidden;
}

.background {
  position: absolute;
  z-index: -2;
  top: 2px;
  left: 1px;
}

.mobel {
  position: absolute;
  bottom: 53px;
  left: -105px;
  width: 811px;
  height: 394.55px;
  background-image: url('/img/mobel.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}



.title {
  margin-top: 82px;
  margin-left: 240px;
  width: 741px;
  color: #ffffff;
  font-size: 100px;
  letter-spacing: 0;
  line-height: 100px;
}

.button {
  margin-left: 241px;
  margin-top: 60px;
}