.footer {
  margin-top: 330px;
  box-sizing: border-box;
  position: relative;
  margin-right: 200px;
  
}

.footer-container {
  background-color: #0F264C;
  background-image: url('/img/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1400px;
  margin-left: 101px;
  border-radius: 0 100px 0 0;
  height: 660px;
  position: relative;
  box-sizing: border-box;
  padding-top: 121px;
  
}

.illustration {
  position: absolute;
  top: -169px;
  left: 0px;

}

.link {
  margin: 0 10px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}
.text-container {
  border-left: 10px solid #ED4D47;
  padding-left: 40px;
  padding-right: 95px;
  margin-left: 239px;
}

.text {
  font-size: 20px;
  font-weight: 400;
  color: #FFF;
  width: 330px;
  line-height: 30px;
  
}

.navigation {
  box-sizing: border-box;
  display: flex;
  width: 1400px;
  justify-content: space-between;
  padding: 0 136px 0 240px;
  margin-top: 255px;
}

.navigation-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 368px;
  align-items: center;
}

.navigation-item {
  word-spacing: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.8px;
  color: #FFF;
}

.image {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ED4D47;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
}

